html {
  height: 100%;
}
body {
  font-family: "Neue Haas Unica W01 Regular", Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: white;
  padding: 2.4em 10%;
  background: #16726b;
}
h1 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}
h2 {
  margin-top: 0;
  font-size: 1.1rem;
  font-weight: bolder;
}
h3, h3 a {
  font-size: 0.9rem;
  font-weight: bolder;
  color: #b1b5b4;
  text-decoration: none;
}
a {
  color: #b1b5b4;
  text-decoration: none;
}
ul {
  list-style: none;
  padding-left: 0;
}
.app {
  margin: 0 auto;
  width: 66%;
}
img {
  float: right;
}
.flex {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.flex .col {
  padding: 0 0.8rem;
}
.flex .half {
  width: 46%;
}
.flex .section {
  padding: 0.8rem;
}
.divider {
  font-family: "Arial", sans-serif;
  font-size: 4rem;
  color: #b1b5b4;
  margin: -16px 0;
}
.description {
  font-size: 0.9rem;
}
.description p {
  line-height: 1.2rem;
}
input {
  margin: 0.2rem 0;
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #b1b5b4;
  color: black;
  background: #b1b5b4;
  outline: none;
}
input:focus {
  outline: none;
  border-bottom: 2px solid white;
}
.button {
  margin-top: 0.2rem;
  width: 100%;
  background: #187a72;
  color: white;
  font-size: 0.8rem;
  border: 1px solid white;
  border-radius: 0.4rem;
}
.button:hover {
  background: #1f968c;
}
